<header class="site-header">
    <div class="header-left">
        <a href="/" class="nav-link">Shop</a>
    </div>
    <div class="site-logo">Cascadia</div>
    <div class="header-right">
        <span class="icon search-trigger"><i class="fas fa-search"></i></span>
        <a href="/profile"><span class="icon">👤</span></a>
        <span class="icon menu-trigger"><i class="fas fa-bars"></i></span>
    </div>
</header>