<div class="search-overlay" id="searchOverlay">
    <div class="search-header">
        <div class="search-input-container">
            <i class="fas fa-search search-icon"></i>
            <input type="text" class="search-input" placeholder="Search products...">
        </div>
        <button class="cancel-btn" id="cancelSearch">Cancel</button>
    </div>
    <div class="search-content">
        <h2 class="popular-title">Popular Products</h2>
        <ul class="popular-items">
            <li class="popular-item">Sweater</li>
            <li class="popular-item">T-Shirt</li>
            <li class="popular-item">Shoes</li>
            <li class="popular-item">Hats</li>
        </ul>
    </div>
</div>